.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("https://s3.us-west-2.amazonaws.com/images.unsplash.com/application-1648971803793-2e9a11298aacimage");
    background-size: cover;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm label{
    margin: 10px 0;
}
.loginForm input{
    padding: 10px;
    background-color: white;
    border: none;
}
.loginForm input:focus{
    outline: none;
}
.loginFormButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}
.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;

}